.image {
    width: 100%;
    height: auto;
    display: block;
}

.content-container{
    position: absolute;
    font-size: 45px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; 
    text-align: center;
    color: black;
  }
 
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.content{
    font-style:normal;
    font-size:30px;
}